@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #FF4646;
  --primary: #FF4646;
  --primary-light: #FF6B6B10;
  --dark: #181C29;
  --static-white: #ffffff;
  --static-white-20: #ffffff20;
  --static-white-40: #ffffff40;
  --content-background:#ECF3F8;
  --tag-purple: #4361FF;
  --tag-pink: #FF43F7;
  --tag-green: #06A44F;
  --tag-overlay: #181C2980;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
